# Finnhub
API_KEY=your_api_key

# MinIO
MINIO_ENDPOINT=http://minio:9001
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
BUCKET=bronze-transactions

# PostgreSQL Docker
PG_HOST=postgres
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DB=
PG_SCHEMA=
PG_TABLE=stock_quotes_raw

# PostgreSQL Local
PG_HOST_LOCAL=host.docker.internal
PG_PORT_LOCAL=5432
PG_USER_LOCAL=
PG_PASSWORD_LOCAL=
PG_DB_LOCAL=
PG_SCHEMA_LOCAL=
PG_TABLE_LOCAL=stock_quotes_raw